body { background-color: black; }
#logoutbox{
  position:absolute;
  right: 130px;
  top: 10px;
}

#logoutbox a{
   width:70px;
  height: 20px;
}
#myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%; 
    min-height: 100%;
}
#story {
    position: absolute;
    top: 15%;
    left: 16.75%;
    width: 25%;
    height: 70%;
    background-color: black;
    border-style: dotted;
    border-width: 5px;
    border-radius: 50px;
    border-color: white;
}
#battle {
    position: absolute;
    top: 15%;
    left: 54.25%;
    width: 25%;
    height: 70%;
    background-color: black;
    border-style: dotted;
    border-width: 5px;
    border-radius: 50px;
    border-color: white;
}

a, a:visited {
   cursor: pointer;
    background-color: white;
    color: black;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: auto;
    position: inherit;
    top: 80%;
    left: 27.3%;
    width: 25%;
    font-weight: bold;
}

a:hover, a:active {
    background-color: rgb(97, 97, 97);
}
h1{
  margin: 20px;
  font-size: 2.5vw;
  color: white;
  text-align: center;
  font-family: monospace;
}

p{
  margin: 20px;
  font-size: 1.5vw;
  color: #888787;
  text-align: center;
  font-family: monospace;
}
