body { background-color: black; }
#canvas { width: 100%; height: 100%; }
#logbox {
    position: absolute;
    top: 15%;
    left: 37.5%;
    width: 25%;
    height: 70%;
    background-color: black;
    border-style: dotted;
    border-width: 5px;
    border-radius: 50px;
    border-color: #06264C;
}
#logbox a:link, a:visited {
    background-color: #f44336;
    color: black;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: auto;
    position: inherit;
    top: 80%;
    left: 27.3%;
    width: 25%;
}

#logbox a:hover, a:active {
    background-color: #e0291b;
}

#logbox p{
  margin: 20px;
  font-size: 1.5vw;
  color: #f44336;
  text-align: center;
  font-family: monospace;
}
