body { background-color: black; }
#canvas { width: 100%; height: 100%; }
#logbox {
    position: absolute;
    top: 15%;
    left: 37.5%;
    width: 25%;
    height: 70%;
    background-color: black;
    border-style: dotted;
    border-width: 5px;
    border-radius: 50px;
    border-color: white;
}
